<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ssm.blog.dao.ZhangzuDao">


 
    <update id="update" parameterType="Zhangzu">
        
		update t_zhangzu set z_date= #{z_date}, z_name= #{z_name}, z_amount= #{z_amount}, z_type= #{z_type}, z_io_div= #{z_io_div}, z_remark= #{z_remark}, z_m_amount= #{z_m_amount}
		where id = #{id}
        
    </update>

	<insert id="insert" parameterType="Zhangzu" keyProperty="id" useGeneratedKeys="true">
		
		INSERT INTO t_zhangzu VALUES(null,#{z_date},#{z_name},#{z_amount},#{z_type},#{z_io_div},#{z_remark},#{z_m_amount})
	</insert>

	<delete id="delete" parameterType="Integer">
		delete from t_zhangzu where id=#{id}
	</delete>
	
	<select id="get_one" parameterType="Integer" resultMap="zhangzuMap">
		SELECT * FROM t_zhangzu WHERE id=#{id}
	</select>
	<select id="get_one_zhangzu"  resultMap="zhangzuMap">
		SELECT * FROM t_zhangzu WHERE z_date like CONCAT('%',#{0},'%') and z_name like CONCAT('%',#{1},'%') order by z_date desc 
	</select>
	<select id="get_all" parameterType="String" resultMap="zhangzuMap">
		SELECT * FROM t_zhangzu WHERE z_date like '2021%' order by z_date desc 
	</select>
	<select id="get_2020" parameterType="String" resultMap="zhangzuMap">
		SELECT * FROM t_zhangzu WHERE z_date like '2020%' order by z_date desc 
	</select>
	<select id="get_2019" parameterType="String" resultMap="zhangzuMap">
		SELECT * FROM t_zhangzu WHERE z_date like '2019%' order by z_date desc 
	</select>
	<select id="get_2018" parameterType="String" resultMap="zhangzuMap">
		SELECT * FROM t_zhangzu WHERE z_date like '2018%' order by z_date desc 
	</select>
	<select id="get_one_month_min" parameterType="String" resultMap="zhangzuMap">
		SELECT * FROM t_zhangzu WHERE z_date like CONCAT('%',#{ac},'%') and z_io_div = '支出' order by z_date desc 
	</select>
	<select id="get_one_month_min_type"  resultMap="zhangzuMap">
		SELECT * FROM t_zhangzu WHERE z_date like CONCAT('%',#{0},'%') and z_io_div = '支出' and z_type = #{1} order by z_date desc 
	</select>
	<select id="get_one_month_plus" parameterType="String" resultMap="zhangzuMap">
		SELECT * FROM t_zhangzu WHERE z_date like CONCAT('%',#{ac},'%') and z_io_div = '收入' order by z_date desc 
	</select>
	<select id="get_one_month_maihuo" parameterType="String" resultMap="zhangzuMap">
		SELECT * FROM t_zhangzu WHERE z_date like CONCAT('%',#{ac},'%') and z_io_div = '买货' order by z_date desc 
	</select>
	
	
	<select id="get_analysis_all" parameterType="String" resultMap="zhangzu_analysis_map">
		SELECT id,left(z_date,7) ac,'XXXX' ac_type,0 ac_plus,sum(z_amount)*-1 ac_min, 0 ac_result FROM t_zhangzu where z_date like CONCAT('%',#{ac},'%')  and z_io_div = '支出'  GROUP BY  left(z_date,7)
		union
		SELECT id,left(z_date,7) ac,'XXXX' ac_type, sum(z_amount) ac_plus, 0 ac_min,0 ac_result  FROM t_zhangzu where z_date like CONCAT('%',#{ac},'%')  and z_io_div = '收入'  GROUP BY  left(z_date,7)
		union
		SELECT id,left(z_date,7) ac,'XXXX' ac_type, 0 ac_plus, sum(z_amount)*-1 ac_min,0 ac_result  FROM t_zhangzu where z_date like CONCAT('%',#{ac},'%')  and z_io_div = '买货'  GROUP BY  left(z_date,7)
		
	</select>
	
	<select id="get_analysis_2021" parameterType="String" resultMap="zhangzu_analysis_map">
		SELECT 1,
		ZHI.AC ac,
		'XXXX' ac_type,
		SHOU.AMOUNT ac_plus,
		ZHI.AMOUNT ac_min,
		SHOU.AMOUNT - ZHI.AMOUNT ac_result,
		MAI.AMOUNT ac_maihuo
		FROM v_zhangzu_zhichu_2021 ZHI 
		left join v_zhangzu_shouru_2021 SHOU on  ZHI.AC = SHOU.AC
		left join v_zhangzu_maihuo_2021 MAI on  ZHI.AC = MAI.AC
		order by ac
		
	</select>
	
	<select id="get_analysis_2020" parameterType="String" resultMap="zhangzu_analysis_map">
		SELECT 1,
		ZHI.AC ac,
		'XXXX' ac_type,
		SHOU.AMOUNT ac_plus,
		ZHI.AMOUNT ac_min,
		SHOU.AMOUNT - ZHI.AMOUNT ac_result,
		MAI.AMOUNT ac_maihuo
		FROM v_zhangzu_zhichu_2020 ZHI 
		left join v_zhangzu_shouru_2020 SHOU on  ZHI.AC = SHOU.AC
		left join v_zhangzu_maihuo_2020 MAI on  ZHI.AC = MAI.AC
		order by ac
		
	</select>
	
	<select id="get_analysis_2019" parameterType="String" resultMap="zhangzu_analysis_map">
		SELECT 1,
		ZHI.AC ac,
		'XXXX' ac_type,
		SHOU.AMOUNT ac_plus,
		ZHI.AMOUNT ac_min,
		SHOU.AMOUNT - ZHI.AMOUNT ac_result,
		MAI.AMOUNT ac_maihuo
		FROM v_zhangzu_zhichu_2019 ZHI 
		left join v_zhangzu_shouru_2019 SHOU on  ZHI.AC = SHOU.AC
		left join v_zhangzu_maihuo_2019 MAI on  ZHI.AC = MAI.AC
		order by ac
		
	</select>
	<select id="get_analysis_2018" parameterType="String" resultMap="zhangzu_analysis_map">
		SELECT 1,
		ZHI.AC ac,
		'XXXX' ac_type,
		SHOU.AMOUNT ac_plus,
		ZHI.AMOUNT ac_min,
		SHOU.AMOUNT - ZHI.AMOUNT ac_result,
		MAI.AMOUNT ac_maihuo
		FROM v_zhangzu_zhichu_2018 ZHI,
		v_zhangzu_shouru_2018 SHOU,
		v_zhangzu_maihuo_2018 MAI
		where ZHI.ac = SHOU.ac
		and ZHI.ac = MAI.ac
		order by ac
		
	</select>

	
	
	<select id="get_analysis_by_type" parameterType="String" resultMap="zhangzu_analysis_map">
		SELECT 0,left(z_date,7) ac,z_type ac_type,0 ac_plus,sum(z_amount)*-1 ac_min, 0 ac_result FROM t_zhangzu where z_date like CONCAT('%',#{ac},'%')  and z_io_div = '支出'  GROUP BY  left(z_date,7),z_type order by ac_min 
	</select>

	 <resultMap type="Zhangzu" id="zhangzuMap">
	     <id property="id" column="id" />  
		<result property="z_date" column="z_date"/>
		<result property="z_name" column="z_name"/>
		<result property="z_amount" column="z_amount"/>
		<result property="z_type" column="z_type"/>
		<result property="z_io_div" column="z_io_div"/>
		<result property="z_remark" column="z_remark"/>
		<result property="z_m_amount" column="z_m_amount"/>
	</resultMap>
	 <resultMap type="ZhangzuAnalysis" id="zhangzu_analysis_map">
	     <id property="id" column="id" />  
		<result property="ac" column="ac"/>
		<result property="ac_type" column="ac_type"/>
		<result property="ac_plus" column="ac_plus"/>
		<result property="ac_min" column="ac_min"/>
		<result property="ac_result" column="ac_result"/>
		<result property="ac_maihuo" column="ac_maihuo"/>
	</resultMap>
	
</mapper> 
